:root {
  --primary-color: #da7d4a;
  --primary-textColor: #334155;
  --second-textColor: #64748b;
  --bg-color-1: #fdfcfb;
  --bg-color-1-alpha: rgba(253, 252, 251, 0.8);
  --bg-color-2: #f7ece1;
  /* scroll-padding-top: 100px; 設定header高度的，防止滑動後的頁面被header擋住 */
}

@font-face {
  font-family: "Mantou-Sans";
  src: url("../MantouSans-Regular.woff") format("woff");
}
html {
  /* scroll-behavior: smooth; */
}
body {
  font-size: 16px;
  background: var(--bg-color-1);
  /* width: 100vw; */
  /* height: 100vh; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Mantou-Sans {
  font-family: "Mantou-Sans";
}

.big {
  font-size: 96px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.small {
  font-size: 14px;
}

.fontSize-64 {
  font-size: 64px;
}

.primary-gradient {
  background: linear-gradient(90deg, #e6793b 1.54%, #ff4185 97.86%);
  background-clip: text;
  color: transparent;
}

.primary-color {
  color: var(--primary-color);
}

.primary-textColor {
  color: var(--primary-textColor);
}

.second-textColor {
  color: var(--second-textColor);
}

.bg-color-1 {
  background: var(--bg-color-1);
}

.bg-color-2 {
  background: var(--bg-color-2);
}

.section-logo {
  text-transform: uppercase;
  padding: 12px 8px;
  background: var(--primary-textColor);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.section-title {
  font-size: 64px;
  padding-bottom: 32px;
}

.section-container {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.more-button {
  font-size: 16px;
  border-radius: 50px;
  background: #f1f5f9;
  font-weight: 700;
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0 10px;
}

.numberIcon {
  width: 40px;
  height: 40px;
  color: white;
  background: linear-gradient(90deg, #e6793b 1.54%, #ff4185 97.86%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mark-container {
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 40px;
}

.mark-container .mark-text {
  font-size: 64px;
}

.mark-man {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: 700;
  gap: 10px;
}

.mark-icon img {
  width: 32px;
  height: 32px;
}

#scrollToTopButton {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: var(--primary-color);
  position: fixed;
  bottom: 10%;
  right: 5%;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  #scrollToTopButton {
    bottom: 15%;
  }
}
