@import url("./baseStyle.css");

.policyIssues {
  background: var(--bg-color-1);
  flex-direction: column;
  gap: 10px;
}

.policyIssues .policyIssues-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.policyIssues .policyIssues-content .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  font-weight: bold;
}
