@import url("./baseStyle.css");

.policyIssues {
  background: var(--bg-color-1);
  flex-direction: column;
  gap: 10px;
}

.policyIssues .policyIssues-content {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  gap: 24px;
  width: 100%;
}

.policyIssues .policyIssues-content .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  font-weight: bold;
  width: 100%;
}

.policyIssues .policyIssues-content .card h4 {
  height: 100%;
}

@media screen and (max-width: 980px) {
  .policyIssues .policyIssues-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
